/* CSS Document for Screens */


@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body  {font-family: 'Open Sans', sans-serif;     
         font-size:16px;
         font-weight: 300;
         color: #555;
         margin: 0;
         padding: 0; }
         	
#page {max-width:1200px; margin: 0 auto; position: relative;}
         
/* TEXT */

h1 {margin: 0 0 1em 0; font-size:4.0em; font-weight:700;}
h2 {margin: 0 0 .5em 0; font-size:1.6em; font-weight:700; line-height:1.1em;}
h3 {margin: 0 0 .5em 0; font-size:1.3em; font-weight:700; }
h4 {margin: 0 0 1.5em 0; font-size:1em; font-weight:700;  }

p {margin: 0 0 1em 0;}

a {color: #007eff; }
a:visited {color: #65b1ff;}

a.btn {font-size: 1.2em; text-shadow: black 0.1em 0.1em 0.2em; color: #fff; border: 1px solid #fff ; padding: 10px 10px; transition: background-color .5s; }
a.btn:hover {background-color: rgba(0,0,0,0,.3); }

/*Header */

header {height: 430px; background: #cf0004 url(../Images/banner_1200.jpg) no-repeat center bottom; position: relative;}

header a.logo { 
    z-index: 1;
    position: absolute; 
    display: block; width: 160px; height: 52px;
    background: url(../Images/logo.png) no-repeat 0 0; background-size: contain;
    top: 15px; left: 20px;
}
    

header div.slogan {position: absolute; width: 42%; top:130px; left: 55%; }
header div.slogan h1 { line-height: 1em; margin: 0 0 30px 0; color: #fff; text-shadow: black 0.1em 0.1em 0.2em }

/* Section - All - any content put inside will not touch the main elements
pseudo element this section is encompassing all the items inside that have float properties
*/

section {padding: 0 30px; } 
section::after {content: '' ; display:block; clear: both; }

/* SECTION - Main */

section.main { margin-top: 20px; margin-bottom: 30px; padding: 0; }
section.main aside {width: 33%; float: left; text-align: center; }
section.main .content {margin: 15px; background: no-repeat center top; background-size: 75px 75px; 
    padding-top: 85px;}

section.main aside h3 a {color:#000; text-decoration: none; }
section.main aside h3 a:hover {color:#000; text-decoration: underline; }

section.main aside .content.people {background-image: url(../Images/icon_star.svg);}
section.main aside .content.workspace { background-image: url(../Images/icon_marker.svg);}
section.main aside .content.location { background-image: url(../Images/icon_gear.svg);}



/*SECTION - freemont */

section.freemont {background-color: #47b741; padding-top: 30px; padding-bottom: 30px; color: #fff;  }

section.freemont article {padding:0 20px 0 515px; background: url(../Images/downtown_freemont.jpg) no-repeat 0 5px; 

min-height: 220px;  }s



/* SECTION - relax */

section.relax {background-color: #9ae496; position:relative; }

section.relax aside {width: 33%; float: left; }

section.relax aside .content {margin: 15px; background: no-repeat center top; background-size: 50px 50px; 
padding: 10px 5px 5px 10px }

section.relax aside .content img {display: block; margin-bottom: 15px; width: 100%; }




section.relax aside .content h4 {margin-bottom: .5em; }

section.relax aside .content p {margin-bottom: .5em; }

section.relax aside .content a {display: inline-block; color: #000; font-weight: 700; }


nav

{background-color:rgba(0,0,0,.65);
position: absolute;
top: 0px; 
left: 0px;
padding: 50px 0 0 0;
width: 100%;
}

nav::after {content:''; diplay:block; clear: both;}


nav ul {list-style: none;  margin: 0; padding: 0px;}

nav ul li:hover {background-color: #529228;}

nav ul li:hover > ul {display: block;}

nav ul li a {
    

    display:inline-block;#529228
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    width: 125px;
    position: relative;
    
}

nav ul li a:visited {color: #fff; }
nav ul li a:hover {background-color: #9ae496}
nav ul ul {position:absolute; top: 100%; background-color: #529228 ; display:none ;}
/* 
nav ul ul li {position:relative;}

nav ul ul ul {left: 100%; top: 0px ; }
 */


/* top level */

nav > ul {padding-left: 200px; }

nav > ul > li {float: left; } 


nav > ul > li > a {width: auto; padding: 10px 20px 15px 20px; }

/*************FORM CSS***********************/

.group:before, .group:after { content: "\0020"; display: block; height: 0; overflow: hidden; }  
.group:after { clear: both; }  
.group { zoom: 1; }

 
form {
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	padding-top: 5px;
} 

#formerror {
    font-size: 16px;
	font-weight: bold;
	color: #cf1925;}

label {
	display: block;
	width: 400px;
	margin: 0 auto;
	font-weight: bold;
	color: #777;
	padding-top: 15px;
}

input[type=text], input[type=email], input[type=tel], input[type=date], input[type=password], [type=datalist],textarea {

	display: block;
	width: 400px;
	margin: 0 auto;
	padding: 5px;
	background: #EEE;
	border: 1px solid #FFF;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #666;
	border-radius: 4px;
	background: -o-linear-gradient(#FFF,#DDD);
	box-shadow: inset 0px 2px 3px #666,inset 0px -5px 3px #EEE;
}

input[type=submit] {
	padding: 5px;
	background: #666;
	color:white;
	border: none;
	float: center;
	margin-right: 12px;
	margin-top: 10px;
	border-radius: 4px;

}

input:focus, textarea:focus {
	outline: solid red;
}

contactusresponse 

{
	width: 400px;
	margin: 0 auto;
	padding: 10px;
	padding-top: 5px;
} 


/******FOOOTER***************/

footer { font-size: .8em; margin: 40px; color: #999;}
footer .content {display: inline;}
footer a { margin-left: 30px; color: #777;}
footer a:visited { color: #777;}
footer a:hover {color: #000;}



/* Media Queries */

@media screen and (max-width:1000px) {
	
    h1 {font-size:2.4em;}
    
    /* 1000 Header*/
    
    header div.slogan {left: 56%;}
    header div.slogan h1 {margin-bottom: 20px;}
    
    /*1000 Section - freemont */
    
    section.freemont article {padding-left: 400px; background-size: 375px auto; } 
}
    
    @media screen and (max-width: 825px){
        
        h1 {font-size:2.2em;} 
        
        /*825  Header */
        
        header {height: 300px; background-image: url(../Images/banner_825.jpg); }
        header div.slogan {top:130px; left: 48%; } 
        
        /*825  Section - freemont */
        
        section.freemont article {padding-left: 325px; background-size: 300px auto;}
        
}
    
        
        @media screen and (max-width: 760px) {
            
            h1 {font-size: 2.1em;} 
            h2 {font-size: 1.4em;} 
            h3 {font-size: 1.1em;} 
            a.btn {font-size: 1em;}
            
             /*  760 Header */ 
             
             header a.logo {width:145px ; height: 60px; }
             header div.slogan {top:140px ; left: 48%; }
			 
             
             /*760  Section - Main */
             
             section.main {margin-top:10px; margin-bottom: 10px;}
             section.main aside div.content {background-size: 55px 55px; padding-top: 60px; }
             
              /*760  Section - relax */
             
            section.relax aside div.content img {width: 85%;}
            
            /* 760  Navigation*/
            
            nav {padding-top: 80px; }
            nav > ul {padding-left: 10px;}
        }
        
    @media screen and (max-width: 625px) { 
        
            h1 {font-size: 1.3em;} 
            h3 {margin-bottom: 0px;} 
            a.btn {font-size: .9em;}
 
              /*625 ---Header ---need to fix background color */
             
            header {height: 160px; background-image: url(../Images/banner_625.jpg); background-position: left top; }
            header a.logo { width: 100%; height: 66px;
                left: 0px; top: 0px;
                background-color: (0,0,0,.65);
                background-size: 112px 46px;
                background-position: 20px center; 
            }
	
            
            header div.slogan {width: 300px; top: 85px; left: 130px;}
            header div.slogan h1 {margin-bottom: 10px;}
            
            
            /*625  ----Section Main*/ 
            
            section.main aside { width: 100%; float: none; text-align: left}
            
            section.main aside div.content  {
                margin: 8px 20px 8px 0;
                padding: 5px 0px 10px 85px;
                background-size: 50px 50px;
                background-position:20px 5px;       
            }
            `
             /*625----Section freemont*/
             
             section.freemont article {padding: 160px 20px 0px 0px; background-size: 300px auto; min-height: initial; } 
             
             /*625   Section - relax*/
             
             section.relax aside {width: 100%; float: none; margin: 0; position: relative;}
             
             section.relax aside div.content {padding: 20px 20px 20px 150px;}
             
             section.relax aside div.content p {font-size: .9em;}
             
             section.relax aside div.content img {
                 display: inline-block;
                 width: 125px;
                 position: absolute;
                 top: 30px; left: 0px;
             }

/*          



        
        /*625 ---Navigation ---would like different color for submenus*/
                 
        nav {position: static; width: auto; padding: 20px 15px; background-color: #529228; }
        

        nav ul, nav ul ul { display: block; position: static;}
            
        nav > ul {padding: 0 ;}
        nav > ul > li {float: none; margin-top: 25px;}
        
		nav ul  li:hover {background: none;}
          
        nav ul li a { width: auto; display: block; margin: 8px 10px; padding: 8px 15px; border: 1px solid  #fff/* rgba(255, 255, 255, .25) */;}
         
        nav ul li a:hover {background-color: rgba(255,255,255,.2);}

         
         /*625 Footer */
         
         footer div.content {display: block; margin-top: 15px;}
         
         footer div.content a {margin: 0 20px 0 0;}

 }
 
 @media screen and (max-width: 425px ) {
	 
	 
     /*425 --Header to for screens*/
     
     header {height: 110px; background-image: url(../Images/banner_425.jpg); }
     
     header a.logo { width: 100%; height: 52px;
      background: rgba(0,0,0,.65) url(../Images/logo.png) no-repeat center center;
        background-size: 126px 17px;
     }
     
     header div.slogan {width: 100%; left: 0px; top: 46px; text-align: center;}
     
     header div.slogan h1 {display: none; }
	 
	 /* 425 section freemont */
	 
	 	section.freemont article {padding: 160px 20px 0px 0px; background-size: 300px auto; min-height: initial; }
	 
	 section.freemont aside { width: 100%; float: none; text-align: center}
	 
	
         
     /*425  Section - How - To */ 
     
     section.relax aside div.content {padding: 140px 20px 20px 0px;}
     
     section.relax aside div.content img {width: auto; height: 100px; top: 30px; }
	 
      
      /*425  Footer */
      
      footer::after {content: ''; display: block; clear: both;}
      
      footer div.content a {
          display: inline-block; margin: 0 0 10px 0;
          float: left;
          clear: both;
          
          
      }
 }
 
.centered
    {
        text-align: center;
    }


